*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
body{
    background-image: url(bgclock.jpg);
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    background-color: #89BCC4;
    color: white;
    display: flex;
    justify-content:space-around;
    font-size: 20px;
    align-items:center;
}
.nav-list{
    list-style-type: none;
    
}
.nav-list .item{
    display: inline-block;
    padding: 20px 4px;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    color: bisque;
}
.icon{
    height: 30px;
}
.menu-line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}
/*@media all and (max-width:480px){
    .menu{
        display: block;
    }
    .navbar{
       flex-direction: column;
        position: absolute;
        right: 14px;
        top: 14px;
    }
}*/
